.job-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  box-shadow: 2px 10px 14px hsla(180, 29%, 50%, 0.2);
  margin-top: 20px;
  padding: 30px 30px;
  border-radius: 5px;
}

.job-item.highlighted {
  border-left: 4px solid var(--primary-dark-cyan);
}

h3 {
  color: var(--very-dark-cyan);
}

h3:hover {
  cursor: pointer;
  color: var(--primary-dark-cyan);
}

.info-container {
  margin-left: 25px;
}

.company-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.new,
.featured {
  padding: 5px 8px 2px;
  margin-left: 15px;
  color: var(--filter-tablets-cyan);
  border-radius: 12px;
}

.new {
  background-color: var(--primary-dark-cyan);
}

.featured {
  margin-left: 10px;
  background-color: var(--very-dark-cyan);
}

.closer {
  margin-right: 100px;
}

.company-header p:first-child {
  color: var(--primary-dark-cyan); 
  width: 100%;
}

.position-and-time-container {
  display: flex;
  margin-top: 15px;
  color: var(--dark-grayish-cyan);
}

.dot {
  margin: 0 10px;
}

.job-tags {
  margin-left: auto;
}

.job-tags button {
  background-color: hsla(180, 29%, 50%, .1);
  color: var(--primary-dark-cyan);
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  padding: 8px 6px 5px 6px;
  border-radius: 4px;
}

.job-tags button:hover {
  cursor: pointer;
  background-color: var(--primary-dark-cyan);
  color: var(--filter-tablets-cyan);
  padding: 6px 6px;
  border-radius: 3px;
}
