@media (max-width: 375px) {
  .top-banner {
    margin-bottom: 15px;
  }

  .filter-bar {
    min-width: 70vw;
    padding: 5px 40px 15px 20px;
    border-radius: 4px;
  }

  .job-list.with-filterbar {
    margin-top: 60px;
  }

  .selected-filters {
    min-width: 95%;
  }

  .selected-filters button {
    margin-top: 15px;
  }

  .filter-tag {
    font-weight: 600;
  }

  img {
    position: absolute;
    top: -21px;
    left: 25px;
    width: 14%;
  }

  .job-item {
    display: block;
    padding: 30px 15px 0 15px;
    height: 230px;
    width: 290px;
    margin-top: 40px;
  }

  .job-item.highlighted {
    border-left: 5px solid var(--primary-dark-cyan);
  }

  .info-container {
    margin-left: 5px;
  }

  .company-header {
    margin-top: 5px;
  }

  .company-header p:first-child {
    font-weight: 700;
  }

  .featured {
    margin-right: 40px;
  }

  .closer {
    margin-right: 140px;
  }

  h3 {
    font-size: 16px;
  }

  .position-and-time-container {
    border-bottom: 1px solid var(--dark-grayish-cyan);
    padding-bottom: 20px;
  }

  .job-tags {
    padding-right: 30px;
  }

  .job-tags button {
    margin: 20px 20px 0px 5px;
    background-color: var(--filter-tablets-cyan);
    font-weight: 700;
  }
}
